services:
  mongodb:
    image: mongo:7.0
    container_name: estatespace-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=estatespace
    restart: unless-stopped

volumes:
  mongodb_data:
    driver: local
